{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div class="col-md-12 text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp; font-size: 24px; padding-left:20%; padding-right:20%; margin-bottom:150px;">
	<p >With an instinctual eye for excellence, this new five-star stable is not only about betting on a good business horse – it is something symbolic to the spirit of the family and a soul of success and the stamina it takes to transform intangible luck into a true fortune.

		That’s why this beautiful establishment shall simply be renamed as Riboville.</p>
	</div>

<div class="animsition">
	<div class="nav cursor-show">&nbsp;</div>
	<!-- Primary Page Layout
			================================================== -->
	
	

	<div class="section padding-bottom-big over-hide z-bigger">
	<div class="container-fluid">

	<div class="row px-5 px-xl-2">
	<div class="col-md-6 img-slice-wrap mb-5 over-hide">
	<div class="scroll-img" style="background-image: url(img/Riboville.jpg);">&nbsp;</div>
	</div>
	<div class="col-md-6 wow fadeInUp " data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;padding-top: 50px; padding-left:10%;  padding-right:10%; margin-bottom:50px;">
		<p>Boutique Hotel</p>
	
		<h4 style="color:#000; margin-bottom: 30px">Welcome To Riboville</h4>
		<p >In 1974, a bet placed on a horse called Ribovillle who was 20:1 outsider to win in the Durban July, turned out to be just the right bet. Through a series of extraordinary events, the horse romped to the finish line four lengths ahead of the nearest rival, a feat which has never been matched.</p>
			<div class="explore-btn wow fadeInUp" data-wow-delay="0.9s"><a class="btn btn-info" href="#">EXPLORE US</a></div>
			
		</div>
	<div class="section clearfix">&nbsp;</div>
	<div class="col-md-12 img-slice-wrap mt-5 mb-5 over-hide">
		<div class="scroll-img" style="background-image: url(img/dining.jpg);"><div class="text_box maialino skrollable              rendered " data-10000="top: 100%;" data-10500="top: -75%;" style="top: 19.85%;">
			<div class="top_border"></div>
			<div class="center">
			<div class="content">
			<header>
			<h1>
			<span class="cream">Resturant</span>
			</h1>
			<h2 class="cream">
			A Roman holiday in Manhattan
			</h2>
			</header>
			<p>
			<span class="drop_cap cream">T</span>
			his renowned Italian eatery is known for its Roast Suckling Pig, authentic pastas, and flavorful dishes that boast seasonal ingredients from nearby greenmarkets. Decorated in the style of a traditional Roman trattoria, with its rustic oak panels and tiled floors, the restaurant features large windows framing views of Gramercy Park.
			</p>
			</div>
			</div>
			<div class="bottom_border"></div>
			</div></div>
	
		</div>
			
	<div class="section clearfix">&nbsp;</div>
	<div class="col-md-6 wow fadeInUp " data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;padding-top: 50px; padding-left:10%;  padding-right:10%; margin-bottom:50px;">
		<p>Conferencing</p>
	
		<h4 style="color:#000; margin-bottom: 30px">Equestrian Confrencing</h4>
		<p >Meeting Rooms pair 20th century art with state-of-the-art Meeting amenities and exceptional service. From Outdoor Conferences on the Lawn to Board Meetings in one of our three well appointed confrence rooms, the Hotel ensures productive business gatherings and memorable occasions. </p>
			<div class="explore-btn wow fadeInUp" data-wow-delay="0.9s"><a class="btn btn-info" href="#">Learn More</a></div>
			
		</div>
	<div class="col-md-6 img-slice-wrap mt-5 mb-5 over-hide">
	<div class="scroll-img" style="background-image: url(img/confrencing.jpeg);">&nbsp;</div>
	
	</div>

	<div class="section clearfix">&nbsp;</div>
	






	</div>
	</div>
	</div>
	
	<!-- Social links
			================================================== -->
	
			<div class="social-fixed">
			
				<a class="fb-ic hover-target">
					<i class="fab fa-facebook-f white-text mr-md-5 mr-2 ">
					  
					</i>
				  </a>
				  <a class="tw-ic hover-target">
					<i class="fab fa-twitter  white-text mr-md-5 mr-2 ">
					</i>
				  </a>
				  <a class="ins-ic hover-target">
					<i class="fab fa-instagram  white-text mr-md-5 mr-2 ">
					</i>
				  </a>
				  <a class="pin-ic hover-target">
					<i class="fab fa-pinterest   white-text mr-md-5 mr-2 "> </i>
				  </a>
			</div>
	
	<div class="copyr">2020 © <a class="hover-target" href="#">Riboville Hotel</a></div>
	
	<div class="scroll-to-top hover-target">&nbsp;</div>
	<!-- Page cursor
			================================================== -->
	
	<div class="cursor" id="cursor">&nbsp;</div>
	
	<div class="cursor2" id="cursor2">&nbsp;</div>
	
	<div class="cursor3" id="cursor3">&nbsp;</div>
	</div>
	